<h1 class="mb-0">
  RAVI
  <span class="text-primary"> KIRAN </span>
</h1>
<div class="subheading mb-5">Hyderabad, India</div>
<div>
  <p class="lead mb-5">
    I am a full stack web developer from Hyderabad, India, soaking up as much
    knowledge and practice as I can in an attempt to perfect my craft. I have
    experience using Angular, Python/Django, Javascript, Java, SQL, Node.js, and
    I've just started diving into React.JS. I also have quite a bit of older
    experience coding in Java, Spring technologies.
  </p>

  <div class="social-icons">
    <a href="#" class="social-icon">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-github"></i>
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="social-icon">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a
      href="mailto:ravvikiran@gmail.com"
      title="shoot me an email"
      class="social-icon"
    >
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</div>
