<!-- <div class="form-group" [hidden]="show">
  <label for="code">Enter shared key</label>
  <input
    type="code"
    class="form-control"
    id="code"
    placeholder="Enter code"
    [(ngModel)]="code"
  />
  <small id="codeHelp" class="form-text text-muted"> Limited access </small>
  <div>
    <button type="button" (click)="codeCheck()" class="btn btn-success">
      Enter
    </button>
  </div>

  <div [hidden]="showError">
    <label class="text-danger" for="failed"> Sorry please try again !!! </label>
  </div>
</div> -->

<!-- <div [hidden]="!show"> -->
<h2 class="mb-5">Experience</h2>
<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
  <div class="flex-grow-1">
    <h3 class="mb-0">Senior Software Developer</h3>
    <p>Working as a software/web developer from past 10 years</p>
  </div>
  <div class="flex-shrink-0">
    <span class="text-primary"> May 2010 - Present </span>
  </div>
</div>
